.input-container {
    margin-top: .5rem;
    background-color: #fff;
    padding: .75rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.input {
    /* width: 60%; */
    width: 100%;
    text-align: center;
    /* justify-self: center; */
}

.input__label {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.input__error {
    position: absolute;
    color: red;
    align-self: center;
    font-size: .75rem;
}