#app {
    font-family: 'ReadexPro';
    max-width: 90%;
    margin: 0 auto;
    color: #573A32;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    height: 100vh;
    align-items: center;
    align-content: center;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 1279px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 967px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 513px) {
    html {
        font-size: 8px;
    }
}