.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.main__button {
    background: none;
    background: url(../../images/button.svg) no-repeat center center/cover;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    align-self: center;
    width: 5rem;
    height: 5rem;
    font-size: .65rem;
    font-weight: 700;
    transition: transform .3s ease;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
}

.main__button:disabled {
    opacity: .5;
}

.main__button:disabled:hover {
    transform: none;
}

.main__button:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 767px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        gap: 10rem
    }

    .main__button {
        grid-column-end: 3;
        grid-column-start: 1;
    }
}

@media screen and (max-width: 511px) {
    .main-container {
        gap: 10rem 2rem;
    }
}

@media screen and (max-width: 319px) {
    .main-container {
        gap: 5rem 1rem;
    }
}