.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1rem;
}

.main__button {
    background: none;
    background: url(../../images/button.svg) no-repeat center center/cover;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    align-self: center;
    width: 5rem;
    height: 5rem;
    font-size: .65rem;
    font-weight: 700;
    transition: transform .3s ease;
}

.main__button:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 511px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 1fr;
        grid-column: 1/-1;
        gap: 5rem;
    }

    .main__button {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 7rem;
        height: 7rem;
    }
}