@keyframes left {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }

    75% {
        transform: rotate(15deg) translate(15%, 0);
    }

    100% {
        transform: rotate(0) translate(0, 0);
    }
}

@keyframes right {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }

    75% {
        transform: rotate(-15deg) translate(-15%, 0);
    }

    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

.main__illustrations {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.main__illustration {
    max-width: 10rem;
}

.main__illustration_right {
    animation: right .5s linear;
    animation-delay: 1s;
}

.main__illustration_left {
    animation: left .5s linear;
    animation-delay: 1s;
}

@media screen and (max-width: 767px) {
    .main__illustrations {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
}